<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626414606644-o1qgo76pt002534nc5sfpfiq1337hnvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626414606644-o1qgo76pt002534nc5sfpfiq1337hnvb</string>
	<key>API_KEY</key>
	<string>AIzaSyAFElau_HxbSG3Lo5xjeXkI1tGOV9sIj5I</string>
	<key>GCM_SENDER_ID</key>
	<string>626414606644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EC327.Gophur</string>
	<key>PROJECT_ID</key>
	<string>gophur-7dd5c</string>
	<key>STORAGE_BUCKET</key>
	<string>gophur-7dd5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626414606644:ios:6f98af766fd4983075ad61</string>
</dict>
</plist>